# Wildcards:
scenario:
  country: ['NA']
  weather_year: [2023]
  # Can be 'hydrogen' or 'ammonia'
  plant_type: 'ammonia'

# Weather data:
# Change to a number that would be added to the 'weather_year' above and used as
# the end weather year date. Must be an integer.
years_to_check: 1

# Frequency of data:
freq: '1H'

# Generators:
# Modify 'generators_dict' to hold the generators you would like to use
# Make sure it is in the same style as below
generators_dict: {'solar' : [], 'wind' : [],}
panel: 'CSi'
turbine: 'NREL_ReferenceTurbine_2020ATB_4MW'
gen_capacity:
    solar: 1
    wind: 4
    hydro: 1
    geothermal: 1

# Efficiency of generator plants:
efficiency:
    hydro: 0.75
    geothermal: 0.9

# Other:
solver : 'gurobi'

water:
    has_limit: False
    # Enter annual limit on water available for electrolysis, in 
    # cubic meters if above is True
    annual_limit: 

transport:
    pipeline_construction: True
    road_construction: True
    rail_construction: True

grid_construction: True
# Make sure this matches the currency used in your parameter files
currency: 'euros'

restrict_hexagons: False